html {
  font-size: 15px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #111111; }

.welcome {
  background: url("../images/head-background.jpg") no-repeat center top;
  color: #fff;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.head {
  background: #111111;
  color: #fff;
  padding: 0.5rem 0; }

.head .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.head .logo img {
  width: 150px;
  height: auto; }

.menu-button,
.search-button {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 0.5rem;
  background: transparent;
  color: #fff; }

/*trick : margin-left auto propety displays both icons on the right hand side of the nav
beacause the search button fills the whole left margin*/
.search-button {
  margin-left: auto;
  margin-right: 0.8rem; }

.menu-button:focus,
.search-button:focus {
  outline: 0; }

/* inputs parent will take the flex property*/
.search-tool-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  margin: 1rem 0; }

#search-tool {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.search-tool-container input[type="text"] {
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.search-tool-container input[type="submit"] {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #12AFAF;
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 1rem; }

#main-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

#main-menu ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0; }

#main-menu ul a {
  display: block;
  text-align: center;
  padding: 0.8rem 0;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #8c8888;
  text-decoration: none; }

#main-menu ul a:hover,
#main-menu ul li.active a {
  color: #12AFAF; }

.btn-primary {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  background-color: #12AFAF;
  border-color: transparent;
  margin-top: 1rem; }

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #009500;
  border-color: transparent; }

.scroll-down a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  -webkit-animation: scroll-down-animation 2s ease-in-out infinite;
          animation: scroll-down-animation 2s ease-in-out infinite; }

.site-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/*animates the scroll-down*/
@-webkit-keyframes scroll-down-animation {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes scroll-down-animation {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
/*Agency section*/
.agency {
  background-color: #12AFAF;
  color: #fff; }

.agency img {
  width: 80%;
  margin: 0 auto;
  display: block; }

/*Best-choise section*/
.best-choice h2 span {
  color: #12AFAF; }

.best-choice ul,
.best-choice ul li {
  list-style: none; }

.best-choice ul li .fa {
  font-size: 2.3rem;
  background: #009500;
  border-radius: 50%;
  width: 4.7rem;
  height: 4.7rem;
  line-height: 4.7rem;
  color: #fff; }

.best-choice ul li .contenedor-eleccion h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.8rem; }

.best-choice ul li {
  min-height: 9rem; }

/*services section*/
.services {
  background: url("../images/traveler.jpg") no-repeat center top;
  background-size: cover;
  color: #fff; }

.services article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0; }

.services img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  overflow: hidden;
  margin-right: 1rem; }

.services article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0; }

.services h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  font-size: 1.1rem; }

.services h3 a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }

.services h3 a::after {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 2rem;
  margin-left: 1rem;
  opacity: 0.5;
  position: relative;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.services h3 a:hover::after {
  left: -.5rem;
  opacity: 1;
  color: #12AFAF; }

/*projects section*/
.project a {
  text-decoration: none; }

.project a h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #111111; }

.project .container {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto; }

.project .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.3rem 0; }

.project .owl-next,
.project .owl-prev {
  font-size: 3rem;
  margin: 0 0.5rem;
  color: #12AFAF;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.project .owl-next:hover,
.project .owl-prev:hover {
  color: #009500; }

/*footer*/
.footer {
  background: #111111;
  color: #fff;
  text-align: center;
  font-size: 0.9rem; }

.footer .social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer .social-network a {
  font-size: 2rem;
  margin: 0 0.5rem;
  color: #fff;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.footer .social-network a:hover {
  opacity: 1; }

.scroll-up {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #12AFAF;
  text-decoration: none;
  z-index: 99999;
  line-height: 0; }

.scroll-up:focus,
.scroll-up:hover {
  outline: 0;
  text-decoration: none;
  color: #fff; }

/*Media Queries md size*/
@media (min-width: 768px) {
  #main-menu {
    height: auto !important;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: auto; }

  #main-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  #main-menu ul a {
    border-top: 0;
    margin: 0; }

  #main-menu ul li a {
    padding: 0.8rem;
    text-transform: capitalize;
    margin: 0 0.3rem;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  #main-menu ul li a:hover,
  #main-menu ul li.active a {
    color: #12AFAF;
    border-bottom: 4px solid; }

  #search-tool {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    width: 25rem;
    right: 3rem;
    top: 3rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  .search-button {
    margin-left: 1rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0; }

  /*services section*/
  .services article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }

  .services img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
    margin-right: 0;
    margin-bottom: 1rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

  .services article:hover img {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }

  .services h3 a::after {
    display: none; }

  .services h3 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }

  /*fix IE view*/
  .services h3 a {
    display: block;
    width: 100%; }

  /*fix IE view*/
  .services p {
    width: 100%; }

  .services .btn-secondary {
    margin-top: auto; } }
@media (min-width: 992px) {
  html {
    font-size: 16px; }

  .best-choice ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 7rem; }

  .best-choice ul li .fa {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-right: 1rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

  .best-choice ul li .fa:hover {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    background: #12AFAF; }

  .contenedor-eleccion {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0; }

  .best-choice ul li .contenedor-eleccion h4 {
    margin-top: 0;
    font-size: 1rem; }

  .best-choice ul:first-child .fa {
    margin-left: 1rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 0; }

  .best-choice ul li p {
    font-size: 0.85rem; } }

/*# sourceMappingURL=style.css.map */