html {
  font-size: 15px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #111111; }

.welcome {
  background: url("../images/head-background.jpg") no-repeat center top;
  color: #fff;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column; }

.head {
  background: #111111;
  color: #fff;
  padding: 0.5rem 0; }

.head .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.head .logo img {
  width: 150px;
  height: auto; }

.menu-button,
.search-button {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 0.5rem;
  background: transparent;
  color: #fff; }

/*trick : margin-left auto propety displays both icons on the right hand side of the nav
beacause the search button fills the whole left margin*/
.search-button {
  margin-left: auto;
  margin-right: 0.8rem; }

.menu-button:focus,
.search-button:focus {
  outline: 0; }

/* inputs parent will take the flex property*/
.search-tool-container {
  display: flex;
  height: 3rem;
  margin: 1rem 0; }

#search-tool {
  flex: 1 1 100%; }

.search-tool-container input[type="text"] {
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 1rem; }

.search-tool-container input[type="submit"] {
  flex: 1 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #12AFAF;
  color: #fff; }

#main-menu {
  flex: 1 1 100%; }

#main-menu ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0; }

#main-menu ul a {
  display: block;
  text-align: center;
  padding: 0.8rem 0;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #8c8888;
  text-decoration: none; }

#main-menu ul a:hover,
#main-menu ul li.active a {
  color: #12AFAF; }

.btn-primary {
  transition: all 0.5s;
  color: #fff;
  background-color: #12AFAF;
  border-color: transparent;
  margin-top: 1rem; }

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #009500;
  border-color: transparent; }

.scroll-down a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  animation: scroll-down-animation 2s ease-in-out infinite; }

.site-title {
  flex: 1 1 auto;
  display: flex;
  align-items: center; }

/*animates the scroll-down*/
@keyframes scroll-down-animation {
  from {
    transform: translateY(0); }
  50% {
    transform: translateY(6px); }
  to {
    transform: translateY(0); } }
/*Agency section*/
.agency {
  background-color: #12AFAF;
  color: #fff; }

.agency img {
  width: 80%;
  margin: 0 auto;
  display: block; }

/*Best-choise section*/
.best-choice h2 span {
  color: #12AFAF; }

.best-choice ul,
.best-choice ul li {
  list-style: none; }

.best-choice ul li .fa {
  font-size: 2.3rem;
  background: #009500;
  border-radius: 50%;
  width: 4.7rem;
  height: 4.7rem;
  line-height: 4.7rem;
  color: #fff; }

.best-choice ul li .contenedor-eleccion h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.8rem; }

.best-choice ul li {
  min-height: 9rem; }

/*services section*/
.services {
  background: url("../images/traveler.jpg") no-repeat center top;
  background-size: cover;
  color: #fff; }

.services article {
  display: flex;
  align-items: center;
  margin: 1rem 0; }

.services img {
  flex: 0 0 60px;
  overflow: hidden;
  margin-right: 1rem; }

.services article {
  display: flex;
  align-items: center;
  margin: 1rem 0; }

.services h3 {
  flex: 1 1 auto;
  margin: 0;
  font-size: 1.1rem; }

.services h3 a {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none; }

.services h3 a::after {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 2rem;
  margin-left: 1rem;
  opacity: 0.5;
  position: relative;
  left: 0;
  transition: all .5s ease; }

.services h3 a:hover::after {
  left: -.5rem;
  opacity: 1;
  color: #12AFAF; }

/*# sourceMappingURL=style.css.map */
